*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Museo Sans Cyrl 500";
  font-weight: 500;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    /* Формат WOFF */ url("../fonts/museosanscyrl-500.ttf") format("truetype"); /* Формат TTF */
}

@font-face {
  font-family: "Museo Sans Cyrl 700";
  font-weight: 700;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    /* Формат WOFF */ url("../fonts/museosanscyrl-700.ttf") format("truetype"); /* Формат TTF */
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
  /* Дополнительные параметры, если необходимо */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Museo Sans", sans-serif;
  font-size: 1.17vw;
  font-weight: 400;
  line-height: 1.4;
  background-color: #ffffff;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  min-width: 25vw;
  max-width: 100vw;
  width: 100%;
  padding: 0 3.125vw;
  margin: 0 auto;
}
.main {
  padding: 3.125vw 0 6.25vw;
}
.hero {
  background-image: url("../images/bg.webp");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3.125vw 0 4.22vw;
}

.title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 4px;
  color: #ffffff;
}
.bottom-text {
  font-family: "Museo Sans";
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 700px) {
  .title {
    font-size: 4.69vw;
    margin-bottom: 0.31vw;
  }
  .bottom-text {
    font-size: 1.33vw;
    margin-bottom: 3.125vw;
    width: 41.8vw;
  }
}
.connect__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2vw;
  width: 100%;
}

.connect__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 22vw;
  height: 7.5vw;
  border-radius: 1.88vw;
}

.connect__link {
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7vw;
  font-family: "Museo Sans";
  font-size: 2.34vw;
  font-weight: 600;
  line-height: 1.2;

  transition: transform 200ms linear;
}
.connect__link:hover,
.connect__link:focus {
  transform: scale(1.05);
}
.connect__link img {
  width: 2.18vw;
  height: auto;
}

@media screen and (min-width: 700px) {
  .connect__list {
    flex-wrap: nowrap;
    gap: 0.625vw;
  }
  .connect__item {
    width: 12.5vw;
    height: 3.75vw;
    border-radius: 0.94vw;
  }
  .connect__link {
    font-size: 1.17vw;
  }
}

.social {
  margin: 6.41vw 0 6.25vw;
  -webkit-box-shadow: 0px 1.56vw 4.69vw 0px #1a1a1a0d;
  -moz-box-shadow: 0px 1.56vw 4.69vw 0px #1a1a1a0d;
  box-shadow: 0px 1.56vw 4.69vw 0px #1a1a1a0d;
  border-radius: 3.125vw;
  padding: 3.28vw 3.125vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__text {
  font-family: "Museo Sans";
  font-size: 2vw;
  margin-bottom: 1.2vw;
  font-weight: 600;
  line-height: 1.2;
}
.social__title {
  font-family: "Museo Sans";
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 700px) {
  .connect__link img {
    width: 1.09vw;
    height: auto;
  }
  .social {
    margin: 6.41vw 7.97vw 6.25vw;
  }
  .social__text {
    font-size: 1.17vw;
  }
  .social__title {
    font-size: 3.125vw;
  }
}
.social__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.09vw;
}
.social__item {
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 1.2vw;
}
.social__link {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  border-radius: 1.02vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms linear;
}
.social__link:hover,
.social__link:focus {
  background-color: #e6e6e6;
}
.social__link .img-vk {
  width: 2.925vw;
  height: auto;
}
.social__link .img-insta {
  width: 2.34vw;
  height: auto;
}
.social__link .img-tiktok {
  width: 2.34vw;
  height: auto;
}
.social__link .img-twitter {
  width: 2.7vw;
  height: auto;
}
.social__link .img-dzen {
  width: 4.21vw;
  height: auto;
}
.social__link .img-facebook {
  width: 1.29vw;
  height: auto;
}
@media screen and (min-width: 700px) {
  .social__item {
    width: 4.375vw;
    height: 4.375vw;
    border-radius: 1.02vw;
  }
  .social__link .img-vk {
    width: 1.95vw;
  }
  .social__link .img-insta {
    width: 1.56vw;
  }
  .social__link .img-tiktok {
    width: 1.56vw;
  }
  .social__link .img-twitter {
    width: 1.8vw;
  }
  .social__link .img-dzen {
    width: 2.81vw;
  }
  .social__link .img-facebook {
    width: 0.86vw;
  }
}
.questions {
  position: relative;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.44vw;
  height: 3.44vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  bottom: 50%;
  right: 0;
  border: none;
  z-index: 3;
}
.img__arrow {
  width: 2.4vw;
  height: auto;
}

.questions-title,
.information-title {
  font-family: "Museo Sans";
  font-size: 4.5vw;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 700px) {
  .img__arrow {
    width: 1.875vw;
  }
  .questions-title,
  .information-title {
    font-size: 3.125vw;
  }
}
.slider {
  overflow-x: hidden;
  width: 93.75vw;
  margin: 0 auto;
  position: relative;
  padding-bottom: 6.25vw;
  padding-top: 2.5vw;
}
.questions__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.88vw;
  transition: transform 0.3s ease;
}
.questions__item {
  width: 21.95vw;
  height: 12.5vw;
}
.questions__item:nth-of-type(1) .questions__link,
.questions__item:nth-of-type(3) .questions__link {
  background-image: url("../images/delivery.webp");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: 8.125vw 12.66vw;
}
.questions__item:nth-of-type(1) .questions__link .questions__title,
.questions__item:nth-of-type(3) .questions__link .questions__title,
.questions__item:nth-of-type(3) .questions__link .questions__text {
  width: 12.34vw;
}
.questions__link {
  width: 21.95vw;
  height: 12.5vw;
  border-radius: 1.25vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2.34vw 0px #0000000d;
  -moz-box-shadow: 0px 0px 2.34vw 0px #0000000d;
  box-shadow: 0px 0px 2.34vw 0px #0000000d;
  padding: 1.25vw;
  display: inline-block;
}
.questions__title {
  font-family: "Museo Sans";
  font-size: 1.56vw;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.625vw;
  color: #1a1a1a;
  display: block;
  letter-spacing: 0.02em;
}
.questions__text {
  font-family: "Museo Sans";
  font-size: 1.17vw;
  font-weight: 400;
  line-height: 1.4;
  color: #949494;
  display: inline-block;
}
.information__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.93vw;
  padding-top: 2.5vw;
}
.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 2.5vw 3vw 3.3vw;
  background-color: #ffffff;
  box-shadow: 0px 0px 2.34vw 0px #0000000d;
  -webkit-box-shadow: 0px 0px 2.34vw 0px #0000000d;
  -moz-box-shadow: 0px 0px 2.34vw 0px #0000000d;
  width: 100%;
  border-radius: 1.25vw;
}
.information__title {
  font-family: "Museo Sans";
  font-size: 2.3vw;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.25vw;
}
.information__text-content {
  width: 45vw;
}
.information__text {
  font-family: "Museo Sans";
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.4;
  color: #949494;
}
@media screen and (min-width: 700px) {
  .information__item {
    width: 77.81vw;
    padding: 1.56vw 1.25vw 1.56vw 1.875vw;
  }
  .information__title {
    font-size: 1.56vw;
  }
  .information__text-content {
    width: 34.82vw;
  }
  .information__text {
    font-size: 1.02vw;
  }
}
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875vw;
  height: 1.875vw;
  border: none;
  background-color: transparent;

  transition: transform 200ms linear;
}

.button img {
  transition: transform 200ms linear;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.button:hover img,
.button:focus img {
  transform: scale(1.1);
}

.main.question-page {
  padding: 1.72vw 0 6.25vw;
}
.content-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.94vw;
  letter-spacing: 0.02em;
  margin-bottom: 2.25vw;
}

.page-title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.share {
  width: 4.5vw;
  height: auto;
  display: block;
}
.share img {
  width: 4.5vw;
  height: auto;
}
.text {
  font-family: "Museo Sans";
  font-size: 3vw;
  font-weight: 400;
  line-height: 1.4;
  width: 100%;
}

.text-help {
  font-family: "Museo Sans";
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 5vw;
  margin-bottom: 2.5vw;
}
.question-page__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.8vw;
}

.question-page__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  border-radius: 1.3vw;
  background-color: #f9f9f9;

  transition: border 200ms linear;
}

.question-page__item:nth-of-type(1) .question-page__link {
	width: 45vw;
  background-color: #36ba5f;
  font-family: "Museo Sans";
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 1.2;
  gap: 1.8vw;
  color: #ffffff;
}

.question-page__link:hover,
.question-page__link:focus {
  border: 0.16vw solid #3b3b3b;
}

.img-chat,
.img-phone,
.img-email {
  width: 4vw;
  height: auto;
}

@media screen and (min-width: 768px) {
  .content-title {
    margin-bottom: 1.25vw;
  }
  .page-title {
    font-size: 1.875vw;
  }
  .text {
    font-size: 1.17vw;
  }
  .share {
    width: 1.75vw;
  }
  .share img {
    width: 1.75vw;
  }
  .text-help {
    font-size: 1.02vw;
    margin-top: 3.13vw;
    margin-bottom: 1.325vw;
  }
  .img-chat,
  .img-phone,
  .img-email {
    width: 1.25vw;
  }
  .question-page__list {
	gap: 0.625vw;
  }
  .question-page__link {
    width: 3.75vw;
    height: 3.75vw;
    border-radius: 0.94vw;
  }
  .question-page__item:nth-of-type(1) .question-page__link {
    width: 17.5vw;
    font-size: 1.17vw;
    gap: 0.625vw;
  }
  .img-chat,
.img-phone,
.img-email {
  width: 1.25vw;
}
}
@media screen and (min-width: 1200px) {
  .text {
    width: 53.9vw;
  }
}
